<div class="row">
<div class="col_center field">
<% if logged_in? %>
  <%= button_to "LogOut", session_path, :method => :delete %>
<% else %>
  <h3>LogIn</h3>  
  <%= form_tag session_path do %>  
    <div>
      <%= label_tag :name %>  
      <%= text_field_tag :name, params[:name] %>  
    </div>  
    <div class="field">  
      <%= label_tag :password %>  
      <%= password_field_tag :password %>  
    </div>  
    <div class="actions"><%= submit_tag "LogIn" %></div>  
  <% end %>  
<% end %>
</div>
</div>
