<div class="row">
  <div class="col_center field edit_article">
    <h3>create or edit article</h3>
    <%= form_for @article do |f| %>
      <div>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.datetime_select :publish_at %>
      </div>
      <div class="actions"><%= submit_tag "create or edit" %></div>
    <% end %>

    <%= form_for Photo.new, :html => { :multipart => true } do |f| %>
      <h4>photo</h4>
      <%= hidden_field_tag :article_id, @article.id %>
      <%= hidden_field_tag :backup_article_title %>
      <%= hidden_field_tag :backup_article_body %>
      <div>
        <%= f.file_field :image %>
      </div>
      <div class="action"><%= submit_tag "upload image" %></div>
    <% end %>
  </div>
</div>
