<div class="row">
<div class="col_center field edit_article">
  <h3>create or edit article</h3>
  <%= form_for @article do |f| %>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.datetime_select :publish_at %>
    </div>
    <div class="actions"><%= submit_tag "create" %></div>
  <% end %>
</div>
</div>

