<!DOCTYPE html>
<html>
<head>
  <title><%= @title.presence || "kaeruspoon" %></title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="/favicon.png" rel="shortcut icon">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<% if @no_turbolink %>
<body data-no-turbolink>
<% else %>
<body>
<% end %>
<%= render "header_navi" %>
<div id="contents">
<%= yield -%>
</div>
</body>
</html>
