<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="おおいしつかさ">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="kaeruspoon">
  <% if @title.present? %>
  <meta property="og:title" content="<%= @title %>">
  <% end %>
  <meta property="og:url" content="<%= request.url %>">
  <%= yield :meta -%>
  <meta property="fb:admins" content="671652438">
  <title><%= @title.presence || "kaeruspoon" %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href="/favicon.png" rel="shortcut icon">
  <%= auto_discovery_link_tag :atom, articles_url(:format => "atom") %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>
<%= render "header_navi" %>
<div id="contents">
<%= yield -%>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
