<!DOCTYPE html>
<html>
<head>
  <title><%= @title.presence || "kaeruspoon" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="/favicon.png" rel="shortcut icon">
  <%= csrf_meta_tags %>
</head>
<% if @no_turbolink %>
<body data-no-turbolink>
<% else %>
<body>
<% end %>
<%= yield -%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
