<!DOCTYPE html>
<html>
<head>
  <title><%= @title.presence || "kaeruspoon" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="/favicon.png" rel="shortcut icon">
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield -%>
<%= yield :bottom %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield :js %>
</body>
</html>
